.head{
    text-align: center;
    color: #fff;
    font-family: 兰亭粗黑简;
    text-shadow: 0  2px 2px rgba(0,0,0,.5);
}
.heading{
    font-size: 45px;
    height: 70px;
    line-height: 90px;
    letter-spacing: 2px;
}
.subheading{
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
}
.subheading p{
    width: 750px;
    margin: 0 auto;
}
.subheading span{
    float: left;
    width: 140px;
}
.subheading span:nth-child(1){
    margin-left: 100px;
}
.subheading span:nth-child(2){
    margin-left: -3px;
}
.subheading span:nth-child(3){
    margin-left: -3px;
}

.btn{
    position: absolute;
    left: 50%;
    top:200px;
    margin-left: -700px;
    /* display:flex; */
    width: 1400px;
    height: 780px;
    /* flex-wrap:wrap;
    justify-content:space-between; */
    background: rgba(255,255,255,.5);
    box-shadow: 0 0 18px rgba(0,0,0,.26);
    padding: 0 80px;
    
}

.btn-item p:nth-child(1){
    background: url(../images/btn.png) center center no-repeat;
    width: 75px;
    height: 79px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
    display: table-cell;
    vertical-align: middle;
}
.btn-item p:nth-child(2){
    float: right;
    width: 1100px;
    box-sizing:content-box;
    padding: 40px 0 ;
    border-bottom: 3px dashed #b4341d;
}
.btn-item:last-child p:nth-child(2){
    border-bottom:none;
}
.btn-item{
    width: 1240px;
    font-family: 微软雅黑;
    font-size: 32px;
    letter-spacing: 2px;
    display: table;
    line-height: 1.3;
    cursor:pointer;
   
}




iframe{
    width: 1400px;
    height: 780px;
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -700px;
    top:180px;
    box-shadow: 0 0 18px rgba(0,0,0,.25);
    background: rgba(255,255,255,.5);
   
}
.back{
    position: absolute;
    right: 60px;
    bottom: 60px;
    display: none;
}

.page{
    background: none;
    height: 780px;
}
.page body{
    background: none;
    height: 780px;
}
.content{
    
    height: 780px;
    
    
    padding: 0 70px 70px;
   
}
article .title{
    text-align: center;
    font-family: FZCSJW;
    font-size: 42px;
    height: 130px;
    line-height: 130px;
    margin-bottom: 0;
    text-indent: 0;
}
article p{
    font-family: 微软雅黑;
    font-size: 30px;
    line-height:40px;
    text-indent: 60px;
    margin-bottom: 10px;
    
}
.box{
    height: 600px;
    overflow-y: auto;
}
.subtitle{
    font-size: 32px;
    font-weight: 600;
    margin: 16px auto;
}
